.idea
.project
node_modules
packages
doc
test_out
gen
tmp
npm-debug.log
.DS_Store
dart-sdk
dartium
**/build/**
**/*.dart.js
**/*.dart.js.deps
**/*.dart.js.map
**/*.dart.precompiled.js
docs.angulardart.org
dartdoc-viewer
docs
