<html>
<head>
    <script src="packages/browser/dart.js"></script>
    <script src="main.dart" type="application/dart"></script>
</head>
<body>
<div  ng-app>
    <h1>A Demo of the Bind Directive</h1>
    <div>
        <div ng-bind="greeting"></div>
        <div ng-bind="random()"></div>
    </div>

    <h1>A Demo of the Repeat Directive</h1>
    <ul>
        <li ng-repeat="name in people" ng-bind="name"></li>
        <li ng-repeat="obj in objs" ng-bind="obj.v"></li>
    </ul>

    <h1>A Demo of Components</h1>
    <div book>
        <div chapter title="The First Act">The contents of the first act.</div>
        <div chapter title="The Second Act">The contents of the second act.</div>
    </div>
</div>
</body>
</html>
