.ng-hide {
  display: none;
}

li.done {
  color: gray;
  text-decoration: line-through;
}

input[type="text"] {
  height: 30px;
  width: 192px;
}

.border {
  width: 360px;
  margin: 20px auto;
  padding-top: 0;
  padding-bottom: 0;
}

.right {
  float: right;
}

form button {
  width: 80px;
}

ul.well {
  background: white;
}

p {
  margin: 0 0 6px;
  padding-top: 4px;
}

[ng-cloak] {
  display: none;
}

.loading {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}
