<!DOCTYPE html>
<html>
<head>
    <title>Hello, World!</title>
    <link type="text/css" rel="stylesheet" href="style.css" />
</head>
<body ng-app animation-demo ng-cloak>

<h2><code>ng-repeat</code> Demo</h2>
<button ng-click="adc.addThing()">Add Thing {{adc.thingNumber}}</button>
<button ng-click="adc.removeThing()">Remove Thing</button>
<ul>
  <li class="thingy" ng-repeat="thing in adc.listOfThings">
    <ul>
      <li class="thingy" ng-repeat="thing2 in adc.listOfThings">
         {{thing2}}
      </li>
    </ul>
  </li>
</ul>


<h2><code>ng-switch</code> Demo</h2>
<button ng-click="adc.currentThing = 'a'">Set A</button>
<button ng-click="adc.currentThing = 'b'">Set B</button>
<button ng-click="adc.currentThing = 'c'">Set C</button>
<button ng-click="adc.currentThing = null">Clear</button>
<div ng-switch="adc.currentThing">
  <div class="thingy" ng-switch-when="a">I'm THING A</div>
  <div class="thingy" ng-switch-when="b">I'm THING B</div>
  <div class="thingy" ng-switch-when="c">I'm THING C</div>
  <div class="thingy" ng-switch-default>Uhhh I'm NoThing</div>
</div>


<h2><code>ng-if</code> Demo</h2>
<button ng-click="adc.ifToggle = !adc.ifToggle">Toggle</button>
<div class="some-div" ng-if="adc.ifToggle">
  I am a div with content. Just your standared <code>ng-if</code>.
</div>
<hr />

<h2>Animate Demos</h2>
<button ng-click="adc.animateABox()"><h3>Animate a box</h3></button>
<div class="animated-box"></div>

<button ng-click="adc.toggleABunchOfThings()"><h3>Animate 1,000 boxes</h3></button>
<div class="animated-host"></div>

<script type="application/dart" src="animate_demo.dart"></script>
<script src="packages/browser/dart.js"></script>
</body>
</html>
