[ng-cloak] {
  display: none !important;
}

body {
  font-family: "Open Sans" sans-serif;
  font-size: 12px;
  color: #303030;
}

.thingy .thingy {
  display: inline-block;
  min-width: 50px;
}

.thingy.ng-insert {
  transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1,1.1);

  opacity: 0;
  transition: all 1000ms;
}

.thingy.ng-insert.ng-insert-active {
  transform: scale(1.0, 1.0);
  -webkit-transform: scale(1.0,1.0);

  opacity: 1;
}

.thingy .thingy.ng-insert,
.thingy .thingy.ng-remove {
  color: #000;
}


.thingy .thingy.ng-insert.ng-insert-active,
.thingy .thingy.ng-remove.ng-remove-active {
  color: #F00;
}


.thingy.ng-remove {
  transform: scale(1.0, 1.0);
  -webkit-transform: scale(1.0,1.0);

  opacity: 1;
  transition: all 1000ms;
}

.thingy.ng-remove.ng-remove-active {
  transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1,1.1);

  opacity: 0;
}

.some-div {
  height: 100px;
  opacity: 1;
}

.some-div.ng-insert {
  opacity: 0;
  height: 0;
  transition: all 1000ms ease;
}

.some-div.ng-insert.ng-insert-active {
  opacity: 1;
  height: 100px;
}

.some-div.ng-remove {
  opacity: 1;
  height: 100px;
  transition: all 1000ms ease;
}

.some-div.ng-remove.ng-remove-active {
  opacity: 0;
  height: 0px;
}

.animated-box {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100px;
  height: 100px;
  background-color: #1080F0;
}

.animated-box.magic-add {
  transition: margin-left 1000ms ease;
}

.animated-box.magic-remove {
  transition: margin-left 3000ms ease;
}

.animated-box.magic-add.magic-add-active {
  margin-left: 200px;
}

.animated-box.magic-remove.magic-remove-active {
  margin-left: 0px;
}

.animated-box.magic {
  margin-left: 200px;
}

.animated-host {
  margin-top: 10px;
  height: 1000px;
  width: 625px;
  line-height: 25px;
}

 
.magic-box {
  display: block;
  margin-right: 5px;
  margin-top: 5px;

  width: 20px;
  height: 20px;
  background-color: #1080F0;
  line-height: 20px;
  float: left;
  opacity: 1;
/*
  opacity: 1;
  transform: scale(1.0,1.0);
  -webkit-transform: scale(1.0,1.0); */
}

.magic-box.ng-insert {
  opacity: 0;
  transition: all 1000ms ease;
}

.magic-box.ng-insert.ng-insert-active {
  opacity: 1;
}

.magic-box.ng-remove {
  opacity: 1;
  transition: all 1000ms ease;
}

.magic-box.ng-remove.ng-remove-active {
  opacity: 0;
}
/*

.magic-box.ng-insert {
  transform: scale(0.0, 0.0);
  -webkit-transform: scale(0.0,0.0);

  opacity: 0;
  transition: all 10000ms ease;
}

.magic-box.ng-insert.ng-insert-active {
  transform: scale(1.0, 1.0);
  -webkit-transform: scale(1.0, 1.0);
  opacity: 0.5;
}

.magic-box.ng-remove {
  transform: scale(1.0, 1.0);
  -webkit-transform: scale(1.0, 1.0);
  transition: all 500ms ease;
}
.magic-box.ng-remove.ng-remove-active {
  transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  opacity: 0;
} */