<!DOCTYPE html>
<html>
<head>
    <title>NgAnimate | Demos, Stress Tests, Examples and More!</title>
    <link type="text/css" rel="stylesheet" href="css/animation.css" />
</head>
<body class="ng-cloak" ng-app animation-demo>
  <nav>
    <button ng-repeat="page in demo.pages"
        ng-click="demo.currentPage = page"
        ng-class="{'current': demo.currentPage == page}">
      {{page}}
    </button>
  </nav>
  <div class="content" ng-switch="demo.currentPage">
    <div class="demo" ng-switch-default>
      <h2>About</h2>
      <p>The NgAnimate module is a port with modifications of the original
        AngularJS animation module. The default implementation does nothing.
        It simply provides hooks into the angular subsystem. Adding
        <code>AnimationModule</code> however is a whole different story. Once
        added it allows you define and run css animations on your elements with
        pure CSS.</p>
      <p>Check out the demos above.</p>
    </div>
    <div class="demo" ng-switch-when="ng-repeat">
      <h2>ng-repeat Demo</h2>
      <repeat-demo></repeat-demo>
    </div>
    <div class="demo" ng-switch-when="Visibility">
      <h2>Visibility Demo</h2>
      <visibility-demo></visibility-demo>
    </div>
    <div class="demo" ng-switch-when="Css">
      <h2>Css Demo</h2>
      <css-demo></css-demo>
    </div>
    <div class="demo" ng-switch-when="Stress Test">
      <h2>Stress Test</h2>
      <stress-demo></stress-demo>
    </div>
  </div>
<script type="application/dart" src="animation.dart"></script>
<script src="packages/browser/dart.js"></script>
</body>
</html>
