<div class="balls">
    <div ng-repeat="ball in balls"
         class="{{ ballClassName }}"
         ball-position="ball"></div>
</div>

<div>
    <div class="fps-bar">
        <div class="fps" ng-style-width="fps * 4 + 'px'"></div>
    </div>
</div>

{{ fps }} fps. ({{ balls.length }} balls) [ {{ fps == 0 ? '-' : (10000 / fps).toInt() / 10 }} ms] <br>
Digest: {{ (digestTime * 10).toInt() / 10 }} ms<br>
<button ng-click="changeCount(1)">+1</button>
<button ng-click="changeCount(10)">+10</button>
<button ng-click="changeCount(100)">+100</button>
<br>
<button ng-click="changeCount(-1)">-1</button>
<button ng-click="changeCount(-10)">-10</button>
<button ng-click="changeCount(-100)">-100</button>
<br>
<button ng-click="playPause()">&#x25B6;&#10073;&#10073;</button> <br>
<button ng-click="toggleCSS()">Toggle CSS</button><br>
<button ng-click="timeDigest()">noop</button><br>
