.balls {
    border: 1px solid black;
    width: 420px;
    height: 420px;
    margin: 5px;
}

.ball {
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.fps-bar {
    width: 200px;
    height: 10px;
    border: 1px solid black;
    display: inline-block;
    margin-left: 5px;
}

.fps {
    height: 10px;
    width: 60px;
    background-color: green;
}
